# ── API ───────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ── Midtrans ──────────────────────────────────────────────────────────────────
# Key di bawah adalah Sandbox — aman untuk development & staging.
# Untuk production: ganti ke Mid-client-xxx (tanpa SB-)
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-rIP2ojQUmfETSoJ1

# ── Cloudinary ────────────────────────────────────────────────────────────────
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=greeva

# ── Meilisearch ───────────────────────────────────────────────────────────────
NEXT_PUBLIC_MEILISEARCH_HOST=http://localhost:7700
NEXT_PUBLIC_MEILISEARCH_SEARCH_KEY=
